<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Customer</title>
</head>
<body>
    <h1>Edit Customer</h1>
    <form action="/edit/{{ customer[0] }}" method="post">
        <label for="name">Name : </label>
        <input type="text" id="name" name="name" value="{{ customer[1] }}"><br>
        <label for="email">email : </label>
        <input type="text" id="email" name="email" value="{{ customer[2] }}"><br>
        <label for="phone">Phone : </label>
        <input type="text" id="phone" name="phone" value="{{ customer[3] }}"><br>
        <input type="submit" value="Update Customer">
    </form>
</body>