<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scla = 1.0">
    <title>Customer List</title>
</head>
<body>
    <h1>Customer List</h1>
    <a href="/add">Add Customer</a>
    <ul>
        {% for customer in customers %}
        <li>{{ customer[1] }} - {{ customer[2] }} - {{ customer[3] }}
            <a href="/edit/{{ customer[0] }}">Edit</a>
            <a href="/delete/{{ customer[0] }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>